/*************第一种颜色 蓝色 #ffda44 rgba(255, 218, 68, 0.4)*************/
/*登录页*/
.loginText{/*顶部-登录*/
    color: #ffda44 !important;
  }
  /*页头*/
  span[class^="headerTopSwitch"]{/*简繁体切换*/
    background-color: #ffda44 !important;
    border-color: #ffda44 !important;
  }
  .logoText{/*logo字体*/
    color: #ffda44 !important;
  }
  .ant-menu-item[class*='menuChoosed__']{/*默认选中tab的图片*/
    background-image:url('../publicImg/yellow/images/icon26.png') !important;
  }
  .ant-menu-item:hover{/*header的hover图片*/
    background-image:url('../publicImg/yellow/images/icon26.png') !important;
  }

  /*工作台*/
  div[class^="subscribeBtn"]{/*快速预约*/
    background-image: url('../publicImg/yellow/images/icon28.png') !important;
  }
  div[class^="planLibraryBtn"]{/*计划书库*/
    background-image: url('../publicImg/yellow/images/icon29.png');
  }
  div[class*="noticeBoard"] span:first-child{/*公告栏*/
    background-color: #ffda44 !important;
  }
  button[class*="noticeButton"]{/*公告栏-查看更多*/
    background-color: #ffda44 !important;
  }
  a[class*='noticeListRead']:hover{/*公告栏-list*/
    color: #ffda44 !important;
  }
  b[class*='b_sty'],
  span[class*='ant-input-group-addon'] a{/*公告栏-公告汇总、搜索*/
    color: #ffda44 !important;
  }
  .setting_btn{/*13个icon右边的齿轮*/
    background-image: url('../publicImg/yellow/images/icon33.png') !important;
  }
  #buttonImg{/*13个icon下面的箭头*/
    background-image: url('../publicImg/yellow/images/icon35.png') !important;
  }
  .typeTxt{/*13个icon底下的文字*/
    color: #ffda44 !important;
  }
  /*工作台自定义模块图片样式，注意，各个颜色的icon编号不对应，需要更改*/
  #buttonContent a[href="#/order/summary"] .tabIcon{/*我的保单*/
    background-image: url('../publicImg/yellow/icon12.png') !important;
  }
  #buttonContent a[href="#/channel/teamRate"] .tabIcon{/*转介费率*/
    background-image: url('../publicImg/yellow/icon7.png') !important;
  }
  #buttonContent a[href="#/order/bonds"] .tabIcon{/*债券*/
    background-image: url('../publicImg/yellow/icon25.png') !important;
  }
  #buttonContent a[href="#/plan/myPlan"] .tabIcon{/*我的计划书*/
    background-image: url('../publicImg/yellow/icon13.png') !important;
  }
  #buttonContent a[href="#/orderPending/list"] .tabIcon{/*pending*/
    background-image: url('../publicImg/yellow/icon4.png') !important;
  }
  #buttonContent a[href="#/performance/MyPerformance"] .tabIcon{/*我的业绩*/
    background-image: url('../publicImg/yellow/icon18.png') !important;
  }
  #buttonContent a[href="#/channel/team"] .tabIcon{/*我的团队*/
    background-image: url('../publicImg/yellow/icon17.png') !important;
  }
  #buttonContent a[href="#/portal/customer"] .tabIcon{/*我的客户*/
    background-image: url('../publicImg/yellow/icon14.png') !important;
  }
  #buttonContent a[href="#/portal/reservation/1"] .tabIcon{/*服务预约*/
    background-image: url('../publicImg/yellow/icon21.png') !important;
  }
  #buttonContent a[href="#/channel/ratio"] .tabIcon{/*渠道分成设置*/
    background-image: url('../publicImg/yellow/icon9.png') !important;
  }
  #buttonContent a[href="#/order/orderImmigrantInvest/list"] .tabIcon{/*投资移民*/
    background-image: url('../publicImg/yellow/icon23.png') !important;
  }
  #buttonContent a[href="#/after/list"] .tabIcon{/*保单售后*/
    background-image: url('../publicImg/yellow/icon11.png') !important;
  }
  #buttonContent a[href="#/settlement/check"] .tabIcon{/*对账单*/
    background-image: url('../publicImg/yellow/icon5.png') !important;
  }
  #buttonContent a[href="#/order/orderHouse"] .tabIcon{/*海外房产*/
    background-image: url('../publicImg/yellow/icon26.png') !important;
  }
#buttonContent a[href="#/order/orderYJ"] .tabIcon{/*赴美生子*/
  background-image: url('../publicImg/yellow/icon27.png') !important;
}
#buttonContent a[href="#/settlement/settlementManage"] .tabIcon{/*结算管理*/
  background-image: url('../publicImg/yellow/icon28.png') !important;
}
  .anticon-edit{/*理财信息的更改用户信息按钮*/
    color: #ffda44 !important;
  }
  .userType{/*已签约、未签约*/
    background-color: #ffda44 !important;
  }
  .moneyNumber{/*理财信息数字*/
    color: #ffda44 !important;
    font-weight: normal !important;
  }
  div[class^="class01"] div[class^="lf___"]{/*理财信息*/
    background-image: url('../publicImg/yellow/images/img1.png') !important;
    background-repeat: no-repeat;
  }
  div[class^="class01"] div[class^="lf___"] h2{/*理财信息-文字*/
    color: #ffda44;
  }
  div[class^="class01"] hr{/*理财信息-hr*/
    border: 1px solid #ffda44 !important;
  }
  div[class^="class02"] div[class^="lf___"]{/*代办列表*/
    background-image: url('../publicImg/yellow/images/img2.png') !important;
    background-repeat: no-repeat;
  }
  div[class^="class02"] div[class^="lf___"] h2{/*代办列表-文字*/
    color: #ffda44;
  }
  span[class*="noticeListTitleNew"]{/*代办列表-左侧文字*/
    color: #ffda44 !important;
  }
  div[class^="class02"] div[class*="class02Right"]{/*代办列表右边框*/
    background-image: url('../publicImg/yellow/images/icon31.png') !important;
  }
  div[class*="courseL"] div[class^="lf___"]{/*我的课程*/
    background-image: url('../publicImg/yellow/images/img3.png') !important;
  }
  div[class*="courseL"] div[class^="lf___"] h2{/*我的课程-文字*/
    color: #ffda44;
  }
  div[class*="course"] div[class^="lf___"] button{/*我的课程-去报名*/
    background: #ffda44 !important;
  }
  div[class*="sideL__"] .imgA{/*在线咨询*/
    background-image: url('../publicImg/yellow/images/icon30.png') !important;
  }
  div[class*="sideL__"] .imgB{/*扫码关注*/
    background-image: url('../publicImg/yellow/images/icon32.png') !important;
  }
  div[class*="sideL__"] .imgC{/*返回顶部*/
    background-image: url('../publicImg/yellow/images/icon27.png') !important;
  }
  div[class*="sideL__"] div[class*="component"]:hover{/*在线咨询*/
    background-color: rgba(255, 218, 68, 0.4) !important;
  }
  /*a标签基本样式*/
  a {
    color: #000;

    display: inline-block;
    outline: 0px none;
  }
  a:link {
    color: #000;
    display: inline-block !important;
    outline: 0px none !important;
  }
  a:hover,
  a:active {
    text-decoration: none !important;
    color: #ffda44 !important;
  }

  /*table表样式*/
  .ant-table {
    font-size: 14px !important;
    color: #000 !important;
    overflow: hidden;
    position: relative;
    border-radius: 4px 4px 0 0;
  }
  .ant-table-bordered .ant-table-header > table,
  .ant-table-bordered .ant-table-body > table,
  .ant-table-bordered .ant-table-fixed-left table,
  .ant-table-bordered .ant-table-fixed-right table {
    border: 1px solid #ffda44 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
  }
  .ant-table-wrapper {
    zoom: 1;
  }
  .ant-table-thead > tr.ant-table-row-hover > td,
  .ant-table-tbody > tr.ant-table-row-hover > td,
  .ant-table-thead > tr:hover > td,
  .ant-table-tbody > tr:hover > td {
    background: rgba(255, 218, 68, 0.4) !important;
  }
  .ant-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center !important;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
  }
  .ant-table.ant-table-scroll-position-right .ant-table-fixed-right {
    box-shadow: none !important;
  }
  .ant-table-fixed-right {
    right: 0 !important;
    box-shadow: 6px 0 6px -4px #ffda44 !important;
  }
  .ant-table.ant-table-scroll-position-left .ant-table-fixed-left {
    box-shadow: none !important;
  }
  .ant-table-fixed-left {
    left: 0 !important;
    box-shadow: 6px 0 6px -4px #ffda44 !important;
  }
  .ant-table-thead > tr,
  .ant-table-tbody > tr {
    transition: all .3s;
  }
  .ant-table-bordered .ant-table-thead > tr > th,
  .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 1px solid #ffda44 !important;
  }
  .ant-table-bordered .ant-table-thead > tr > th {
    border-bottom: 1px solid #ffda44 !important;
  }
  .ant-table-bordered .ant-table-tbody > tr > td {
    border-bottom: 1px solid #ffda44 !important;
    transition: all .3s;
  }
  .ant-table-bordered .ant-table-tbody > tr > td:first-child a,
  .ant-table-bordered .ant-table-tbody > tr > td:last-child a[class*='confirmPay']{
    color: #ffda44 !important;
  }
  .ant-table-small .ant-table-thead > tr > th,
  .ant-table-small .ant-table-tbody > tr > td {
    padding: 6px 8px !important;
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding: 10px 8px !important;
    word-break: break-all;
  }
  .ant-table-thead > tr > th {
    background: #fff !important;
    font-weight: bold;
    font-size: 18px;
    transition: background .3s ease;
    text-align: center !important;
    color: #000 !important;
  }
  div[class*='table_border'] div[class*='item_div']>table>tbody>tr:first-child{/*预约签单-健康信息*/
    background-color: rgba(255, 218, 68, 0.4) !important;
  }
  div[class*='table_border'] div[class*='item_div']>table>tbody>tr>th,
  div[class*='table_border'] div[class*='item_div']>table>tbody>tr>td{
    border-color:#ffda44 !important;
  }
  div[class*='attach_div']{
    border-color: #ffda44 !important;
  }
  div[class*='attach_div']>div:first-child{
    background-color: rgba(255, 218, 68, 0.4) !important;
  }
  /*table的分页样式*/
  .ant-pagination-item-active {
    background-color: #ffda44 !important;
    color: #fff !important;
    border-color: #ffda44 !important;
    outline: 0 !important;
  }
  .ant-pagination-item-active a {
    color: #fff !important;
  }
  .ant-pagination-disabled.ant-pagination-prev:hover a,
  .ant-pagination-disabled.ant-pagination-next:hover a {
    color: #000 !important;
    cursor: not-allowed;
  }
  .ant-table-pagination li:not(.ant-pagination-disabled):link {
    background-color: #fff !important;
    color: #ffda44 !important;
    outline: 0 !important;
    border-color: #ffda44 !important;
  }
  .ant-table-pagination li:not(.ant-pagination-disabled):hover a,
  .ant-table-pagination li:not(.ant-pagination-disabled):focus a {
    color: #fff !important;
  }
  .ant-table-pagination li:not(.ant-pagination-disabled) a:link {
    color: #ffda44 !important;
  }
  .ant-table-pagination li:not(.ant-pagination-disabled):hover,
  .ant-table-pagination li:not(.ant-pagination-disabled):focus {
    border-color: #ffda44 !important;
    background-color: #ffda44 !important;
    color: #fff !important;
    outline: 0 !important;
  }
  .ant-table-pagination li:not(.ant-pagination-disabled) a:hover,
  .ant-table-pagination li:not(.ant-pagination-disabled) a:focus,
  .ant-table-pagination li:not(.ant-pagination-disabled) a:visited,
  .ant-table-pagination li:not(.ant-pagination-disabled) a:active {
    color: #fff !important;
  }
  /*table排序按钮样式*/
  .ant-table-column-sorter {
    height: 18px !important;
    width: 12px !important;
  }
  .ant-table-column-sorter-up,
  .ant-table-column-sorter-down {
    line-height: 8px !important;
    height: 8px !important;
    width: 12px !important;
  }
  .ant-table-column-sorter .anticon-caret-up,
  .ant-table-column-sorter .anticon-caret-down {
    font-size: 18px !important;
  }
  .ant-table-column-sorter .anticon-caret-up,
  .ant-table-column-sorter .anticon-caret-down {
    line-height: 8px !important;
    height: 8px !important;
  }
  .ant-table-column-sorter-up.on .anticon-caret-up,
  .ant-table-column-sorter-down.on .anticon-caret-up,
  .ant-table-column-sorter-up.on .anticon-caret-down,
  .ant-table-column-sorter-down.on .anticon-caret-down {
    color: #ffda44 !important;
  }

  /*按钮样式*/
  .ant-btn.ant-btn-default {
    border-color: #ffda44;
    color: #000;
    font-size: 16px;
    font-weight: normal;
  }
  .ant-btn.ant-btn-default:hover,
  .ant-btn.ant-btn-default:focus {
    border-color: #ffda44;
    color: #ffda44;
  }
  .ant-btn.ant-btn-primary {
    border-color: #ffda44;
    color: #fff;
    background-color: #ffda44;
    font-size: 16px;
    font-weight: normal;
  }
  .ant-btn.ant-btn-primary:hover,
  .ant-btn.ant-btn-primary:focus {
    border-color: #ffda44;
    color: #fff;
    background-color: #ffda44;
    /*opacity: 0.7;*/
  }
  .ant-btn.disabled,
  .ant-btn[disabled] {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f7f7f7;
    border-color: #d9d9d9;
  }
  /*tabs标签页样式*/
  .ant-tabs-nav-container {
    height: 44px !important;
  }
  .ant-tabs-tab {
    background-color: #fff !important;
    color: #000;
    font-size: 22px;
  }
  .ant-tabs-tab:hover {
    color: #ffda44 !important;
    font-size: 22px;
  }
  .ant-tabs-tab-active {
    color: #ffda44 !important;
    font-size: 22px;
  }

  /*表单元素样式*/
  .ant-input-group-addon {
    background-color: #fff !important;
    color: #000 !important;
  }
  .ant-input-group-addon:hover,
  .ant-input-group-addon:focus,
  .ant-select-lg .ant-select-selection:not([disabled]):hover,
  .ant-select-lg .ant-select-selection:not([disabled]):focus,
  textarea:not([disabled]):hover,
  textarea:not([disabled]):focus,
  .ant-input:not([disabled]):hover,
  .ant-input:not([disabled]):focus,
  .ant-input-number:not([disabled]):hover,
  .ant-input-number-focused:not([disabled]),
  .ant-input-number:not([disabled]):focus {
    -webkit-box-shadow:inset 0 1px 1px #ffda44, 0 0 8px #ffda44 !important;
    -moz-box-shadow:inset 0 1px 1px #ffda44, 0 0 8px #ffda44 !important;
    box-shadow:inset 0 1px 1px #ffda44, 0 0 8px #ffda44 !important;
    border-color:#ffda44 !important;
  }
  textarea:not([disabled]):hover,
  textarea:not([disabled]):focus {
    outline:#ffda44 solid 1px;
  }
  .ant-input-search-icon:hover {
    color: #ffda44 !important;
  }
  .ant-input-group-addon .ant-select-open .ant-select-selection,
  .ant-input-group-addon .ant-select-focused .ant-select-selection {
    color: #ffda44 !important;
  }
  .ant-input-number-handler-up-inner:hover,
  .ant-input-number-handler-up-inner:focus,
  .ant-input-number-handler-down-inner:hover,
  .ant-input-number-handler-down-inner:focus {
    color: #ffda44 !important;
  }
  .ant-input-group-addon .ant-select .ant-select-selection .ant-select-selection__rendered{
    line-height: 34px !important;
  }
  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 24px !important;
  }
  .ant-select .ant-select-selection,
  .ant-input,
  .ant-input-number{
    min-height: 40px !important;
    font-size: 16px !important;
    font-weight: normal !important;
    padding: 0 7px !important;
  }
  .ant-select-selection__rendered,
  .ant-input-number-input,
  input{
    height: 38px !important;
    line-height: 38px !important;
  }
  .ant-select-selection--multiple ul {
    margin-bottom: 0px;
  }
  .ant-select-selection__rendered li {
    height: 34px !important;
    line-height: 34px !important;
  }
  .ant-select-open .ant-select-selection{
    border-color: #ffda44 !important;
  }
  .ant-form-item-label {
    line-height: 35px !important;
  }
  .ant-form-item-label label {
    font-size: 15px;
    font-weight: normal;
  }
  .ant-form-item {
    margin-bottom: 20px !important;
  }
  .ant-form-item-with-help {
    margin-bottom: 2px !important;
  }
  .ant-cascader-picker-label{
    font-size: 16px !important;
    z-index: 99 !important;
    color: rgb(89, 89, 89) !important;
  }
  .ant-cascader-picker-disabled .ant-cascader-picker-label{
    color: rgba(0, 0, 0, 0.25) !important;
  }
  .ant-checkbox-checked .ant-checkbox-inner,
  .ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: #ffda44 !important;
    border-color: #ffda44 !important;
  }
  .ant-radio-inner:after {
    background-color: #ffda44 !important;
  }
  .ant-radio-checked .ant-radio-inner {
    border-color: #ffda44 !important;
  }
  .ant-radio-inner {
    border-color: #ffda44 !important;
  }
  textarea {
    padding: 0 5px !important;
  }
  textarea:disabled {
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.25);
    border-color: #e2e2e2;
    padding: 0 5px !important;
  }

  /*日历控件*/
  .ant-calendar {
    width: 280px !important;
  }
  .ant-calendar-range {
    width: 440px !important;
  }
  .ant-calendar-range-middle{
    margin-left: -4px !important;
    text-align: left !important;
  }
  .ant-calendar-date-input-wrap .ant-calendar-input {
    height: 22px !important;
  }
  .ant-calendar-range-right .ant-calendar-date-input-wrap {
    margin-left: 0px !important;
  }
  .ant-calendar-footer .ant-calendar-today-btn,
  .ant-calendar-footer .ant-calendar-time-picker-btn{
    color: #ffda44 !important;
  }
  .ant-calendar-footer .ant-calendar-ok-btn {
    color: #fff !important;
    background: #ffda44 !important;
    border-color: #ffda44 !important;
  }
  .ant-calendar-today .ant-calendar-date {
    border-color: #ffda44 !important;
    color: #ffda44 !important;
  }
  .ant-calendar-selected-day:not(.ant-calendar-disabled-cell) .ant-calendar-date {
    color: #fff !important;
    border: 1px solid #ffda44 !important;
    background: #ffda44 !important;
    font-weight: bold !important;
  }
  .ant-calendar-cell:not(.ant-calendar-disabled-cell) .ant-calendar-date:hover {
    color: #ffda44 !important;
    border: 1px solid #e2dccc !important;
    background: #e2dccc !important;
    font-weight: bold !important;
  }
  .ant-calendar-range .ant-calendar-in-range-cell:before {
    background: #e2dccc !important;
  }
  /*下拉列表*/
  .ant-select-dropdown-menu-item-active {
    background: #ffda44 !important;
  }


  /* 动力火车 */
  .ant-steps .ant-steps-item.ant-steps-status-process .ant-steps-head-inner{
    border-color: #ffda44 !important;
    background-color: #ffda44 !important;
  }
  .ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-head-inner{
    border-color: #ffda44 !important;
  }
  .ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-head-inner > .ant-steps-icon{
    color: #ffda44 !important;
  }
  .ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-tail > i:after{
    background: #ffda44 !important;
  }

  ::selection{
    background: #ffda44 !important;
  }

  /*遮罩样式*/
  .ant-spin-dot{
    width: 50px !important;
    height: 50px !important;
  }
  .ant-spin-dot i{
    width: 15px !important;
    height:15px !important;
    background-color:#ffda44 !important;
  }

  /*自定义功能*/
  .ant-transfer-list-content-item:not(.ant-transfer-list-content-item-disabled):hover {
    background-color: rgba(255, 218, 68, 0.4) !important;
  }
  .ant-transfer-list-content > .LazyLoad {
    -webkit-animation: transferHighlightIn1 1s !important;
    animation: transferHighlightIn1 1s !important;
  }
  @-webkit-keyframes transferHighlightIn1 {
    0% {
      background: rgba(255, 218, 68, 0.4);
    }
    100% {
      background: transparent;
    }
  }
  @keyframes transferHighlightIn1 {
    0% {
      background: rgba(255, 218, 68, 0.4);
    }
    100% {
      background: transparent;
    }
  }
  /* 产品库 */
  div[class*="tab1"]>div>div>a:first-child{/* 保险-不限 */
    color: #ffda44 !important;
  }
  div[class*="tab1"]>div>a:nth-child(2){/* 债券-不限 */
    color: #ffda44 !important;
  }
  i[class*='anticon']{/* 产品详情-图标 */
    color: #ffda44 !important;
  }
  span[class*='iconL']{/* iconL */
    background-color: #ffda44 !important;
  }
  div[class*='product'] table{/* 产品详情-转介费率表格 */
    border-color: #ffda44 !important;
  }
  div[class*='ant-modal-body'] div[class*='product'] table thead tr th,
  div[class*='ant-modal-body'] div[class*='product'] table tbody tr td{
    border-right-color: #ffda44 !important;
    border-bottom-color: #ffda44 !important;
  }
  /* 计划书 */
  span[class*='textYellow'],/* 我的计划书-查看额度 */
  button[class*='btn_default']:hover/* 我的计划书-取消弹窗all */
  {
    color: #ffda44 !important;
  }
  /* label[class*='person']{
    border-color: #ffda44 !important;
    background-color: #ffda44 !important;
  } */
  /* label[class*='team'], */
  button[class*='btn_default'],/* 我的计划书-取消弹窗all */
  button[class*='btn_default']:hover
  {
    border-color: #ffda44 !important;
  }
  div[class*='title_div']{/* 我的计划书-取消弹窗all */
    background-color: #ffda44 !important;
  }
  /* 财课堂 */
  div[class*='frame']>button,/* 培训资料 */
  .ant-table-bordered .ant-table-tbody > tr > td div[class*='button-container'] button,/* 操作 */
  div[class*='action'] button[class*='blank'],/* 课程详情-评价 */
  button[class*='submit'],/* 评价弹窗 */
  button[class*='link'],/* 点我看视频 */
  button[type*='button'][class*='right'],/* all-全部 */
  button[type*='button'][class*='btn'],/*操作*/
  div[class*='classroom'] button[class*='btn'],
  div[class*='classroom'] button[class*='blank']
  {
    border-color: #ffda44 !important;
  }
  div[class*='frame'] a[class*='link'],/*更多*/
  .ant-table-bordered .ant-table-tbody > tr > td a[class*='color___'],/* 课程内容 */
  div[class*='action'] button[class*='blank'],/* 课程详情-评价 */
  button[class*='submit'],/* 评价弹窗 */
  button[type*='button'][class*='right']/* all-全部 */
  {
    color: #ffda44 !important;
  }
  .ant-table-bordered .ant-table-tbody > tr > td div[class*='button-container'] button:hover,
  div[class*='action'] button[class*='blank']:hover,/* 课程详情-评价 */
  div[class*='action'] button[class*='margin-top'],/* 课程详情-查看报名信息 */
  button[class*='submit'],/* 评价弹窗 */
  button[type*='submit'][class*='right'],/* all-查询 */
  button[type*='button'][class*='right']:hover,/* all-全部 */
  button[class*='link']/* 点我看视频 */
  {
    background-color: #ffda44 !important;
  }
  div[class*='action'] button[class*='blank']:hover,课程详情-评价
  button[class*='submit'],/* 评价弹窗 */
  button[type*='submit'][class*='right'],/* all-查询 */
  button[type*='button'][class*='right']:hover,/* all-全部 */
  button[class*='link']/* 点我看视频 */
  {
    color: #fff !important;
  }
  div[type*='database'] button[class*='search']/* 通用资料-查询 */
  div[type*='database'] button[class*='blank']/* 通用资料-全部 */
  {
    border-color: #ffda44 !important;
  }
  div[class*='text-center'] button{/*支援服务收费规则-我已阅读*/
    background-color: #ffda44 !important;
    color: #fff !important;
  }
  div[class*='text-center'] button:hover{
    color: #fff !important;
  }
  span[class*='title-bar']{
    border-left: 6px solid #ffda44 !important;
  }
  /* 常见问题 */
  div[class*='qa_sider_menu'] li[class*="ant-menu-submenu-inline ant-menu-submenu"],
  div[class*='qa_sider_menu'] li div:hover,
  div[class*='qa_sider_menu'] li[class*="ant-menu-submenu-inline ant-menu-submenu"]:last-child
  {
    background-color: #ffda44 !important;
  }
  li[clsss*='ant-menu-item']:hover,
  div[class*='qa_sider_menu'] li:hover{
    background-color: rgba(255, 218, 68, 0.4) !important;
  }
  div[class*='qa_sider_menu'] ul[class*="ant-menu ant-menu-inline ant-menu-sub"]{
    border-color: #ffda44 !important;
  }
  div[class*='qa_sider_menu'] li div:hover{
    color: #fff !important;
  }
  div[class*='qa_sider_menu'] li{
    border-bottom-color: #ffda44 !important;
  }
  div[class*='qa_sider_menu'] li:hover{
    background-image: none !important;
  }
  div[class*='qa_sider_menu'] li[aria-selected=true]{
    color: #ffda44 !important;
  }
  /* 我的团队 */
  div[class*='ranking-list'] div[class*='header'],/* 签单-背景色 */
  div[class*='channel'] button[class*='btn']:hover,/*成员列表及收益估算-操作*/
  div[class*='channel'] form[class*='ant-form-inline'] button[class*='btn']:last-child/* channel查询按钮 */
  {
    background-color: #ffda44 !important;
  }
  div[class*='channel'] button[class*='btn']:hover{
    color: #fff;
  }
  div[class*='channel'] h3[class*='color'],/* 签单-字体色 */
  button[class*='channel-btn-drop']:hover,/* 成员列表及收益估算-操作下拉 */
  b[class*='b_short_line'],/* 渠道详情 */
  button[class*='btn_operation']:hover/* 渠道详情-合约信息操作 */
  {
    color: #ffda44 !important;
  }
  div[class*='channel'] button[class*='btn'],/* 成员列表及收益估算-操作 */
  button[class*='channel-btn-drop']:hover,/* 成员列表及收益估算-操作下拉 */
  input[disabled]:hover,
  button[class*='btn_operation'],/* 渠道详情-合约信息操作 */
  button[class*='btn_operation']:hover
  {
    border-color: #ffda44 !important;
  }
  div[class*='channel']  form[class*='ant-form-inline'] button[class*='btn']:last-child/* channel查询按钮 */{
    color: #fff !important;
  }
  /* 增值服务 */
  #orderStatus{/* 详情-订单状态 */
    color: #ffda44 !important;
  }
  /* 自定义功能模块 */
  div[class*='funcProtocolTitle'],
  button[class*='funcButton']{
    background-color: #ffda44 !important;
  }
  button[class*='funcButton']:hover{
    background-color:#fff !important;
    border-color: #ffda44 !important;
    color: #ffda44 !important;
  }
  /* 个人中心 */
  div[class*='protocol_title']/* 修改手机弹窗 */{
    background-color: #ffda44 !important;
  }
  div[class*='switch'] span{/*是否接受消息通知*/
    background-color: #ffda44 !important;
  }
  /* 工作台-我的客户 */
  div[class*='customer-detail']{
    background-color: #ffda44 !important;
  }
  /* 渠道分成-编辑 */
  button[class*='btn_operation']:focus{
    border-color: #ffda44 !important;
    color: #ffda44 !important;
  }
  /* 移民投资-预约 */
  form[class*='productSubscribe']>div>div>div:first-child{
    background-color: rgba(255, 218, 68, 0.4) !important;
  }
  /* 预约签单-勾 */
  li[class*='ant-select-dropdown-menu-item'][aria-selected=true]::after{
    color: #ffda44 !important;
  }
  /* 小图标 */
  i[class*='icon-datum']{/* 财课堂-培训资料 */
    background-image: url('../publicImg/yellow/smallIcon/icon-datum.png') !important;
  }
  i[class*='icon-double-right']{/* 财课堂-查看更多箭头 */
    background-image: url('../publicImg/yellow/smallIcon/icon-double-right.png') !important;
  }
  a[class*='download02']{/* 通用资料下载 */
    background-image: url('../publicImg/yellow/smallIcon/icon02.png') !important;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* 培训课程-课程详情 */
  i[class*='icon-clock']{
    background-image: url('../publicImg/yellow/smallIcon/icon-clock.png') !important;
  }
  i[class*='icon-book']{
    background-image: url('../publicImg/yellow/smallIcon/icon-book.png') !important;
  }
  i[class*='icon-person']{
    background-image: url('../publicImg/yellow/smallIcon/icon-person.png') !important;
  }
  i[class*='icon-location']{
    background-image: url('../publicImg/yellow/smallIcon/icon-location.png') !important;
  }
  i[class*='icon-voice']{
    background-image: url('../publicImg/yellow/smallIcon/icon-voice.png') !important;
  }
  /* 业务支援 */
  i[class*='icon-board']{
    background-image: url('../publicImg/yellow/smallIcon/icon-board.png') !important;
  }
  i[class*='icon-quotes']{
    background-image: url('../publicImg/yellow/smallIcon/icon6.png') !important;
  }
  i[class*='icon-cup']{
    background-image: url('../publicImg/yellow/smallIcon/icon7.png') !important;
  }
  b[class*='transferIcon']{
    display: inline-block;
    background-image: url('../publicImg/yellow/smallIcon/transfer.png') !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 34px;
    height: 34px;
  }
